aiofiles==0.3.2
aiohttp==3.1.0
async-timeout==2.0.1
asyncpg==0.15.0
attrs==17.4.0
chardet==3.0.4
gino==0.6.1
httptools==0.0.10
idna==2.6
idna-ssl==1.0.1
multidict==4.1.0
sanic==0.7.0
SQLAlchemy==1.2.5
ujson==1.35
uvloop==0.9.1
websockets==4.0.1
yarl==1.1.1
